# Ignore the node_modules directory
node_modules

# Ignore the build directory
build

# Ignore any other files/directories that are not needed
.dockerignore
Dockerfile
.git
.gitignore
README.md
static
